<div class="nav-menu">
    <div class="nav-brand">Hermes Blazor</div>
    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
        Home
    </NavLink>
    <NavLink class="nav-link" href="counter">
        Counter
    </NavLink>
    <NavLink class="nav-link" href="jsinterop">
        JS Interop
    </NavLink>
</div>
